@import "../variable.scss";

// width height
@each $size in $widthHeightSize {
  @each $name, $style in (w, width), (h, height) {
    .#{$name}-#{$size} {
      #{$style}: #{$size * $ratio}#{$suffix};
    }
  }
}
.w-50p {
  width: 50%;
}
.w-100p {
  width: 100%;
}
.h-50p {
  height: 50%;
}
.h-100p {
  height: 100%;
}

// margin
@each $size in $marginSize {
  @each $name, $direction in (mg, margin), (mt, margin-top), (mr, margin-right), (mb, margin-bottom), (ml, margin-left)
  {
    .#{$name}-#{$size} {
      #{$direction}: #{$size * $ratio}#{$suffix};
    }
  }
  .mtb-#{$size} {
    margin-top: #{$size}#{$suffix};
    margin-bottom: #{$size * $ratio}#{$suffix};
  }
  .mlr-#{$size} {
    margin-left: #{$size * $ratio}#{$suffix};
    margin-right: #{$size * $ratio}#{$suffix};
  }
}

// padding
@each $size in $paddingSize {
  @each $name, $direction in (pd, padding), (pt, padding-top), (pr, padding-right), (pb, padding-bottom),
    (pl, padding-left)
  {
    .#{$name}-#{$size} {
      #{$direction}: #{$size * $ratio}#{$suffix};
    }
  }
  .ptb-#{$size} {
    padding-top: #{$size * $ratio}#{$suffix};
    padding-bottom: #{$size * $ratio}#{$suffix};
  }
  .plr-#{$size} {
    padding-left: #{$size * $ratio}#{$suffix};
    padding-bottom: #{$size * $ratio}#{$suffix};
  }
}

// border-radius
@each $size in $radiusSize {
  .radius-#{$size} {
    border-radius: #{$size * $ratio}#{$suffix};
    overflow: hidden;
  }
}
.radius-100p {
  border-radius: 100%;
  overflow: hidden;
}
.radius-50p {
  border-radius: 50%;
  overflow: hidden;
}

// 字体大小
@each $size in $fontSize {
  .fs-#{$size} {
    font-size: #{$size * $ratio}#{$suffix};
  }
}

// 字重
@each $w in $fontWeight {
  .fw-#{$w} {
    font-weight: #{$w};
  }
}
