@import "../variable.scss";

// margin
@each $size in $marginSize {
  @each $name, $direction in (mg, margin), (mt, margin-top), (mr, margin-right), (mb, margin-bottom), (ml, margin-left)
  {
    .#{$name}-#{$size} {
      #{$direction}: #{$size}#{$suffix};
    }
  }
}

// padding
@each $size in $paddingSize {
  @each $name, $direction in (pd, padding), (pt, padding-top), (pr, padding-right), (pb, padding-bottom),
    (pl, padding-left)
  {
    .#{$name}-#{$size} {
      #{$direction}: #{$size}#{$suffix};
    }
  }
}

// border-radius
@each $size in $radiusSize {
  .radius-#{$size} {
    border-radius: #{$size}#{$suffix};
    overflow: hidden;
  }
}

// 字体大小
@each $size in $fontSize {
  .fs-#{$size} {
    font-size: #{$size}#{$suffix};
  }
}

// 字重
@each $w in $fontWeight {
  .fw-#{$w} {
    font-weight: #{$w};
  }
}
