$suffix: "rpx"; // 尺寸的单位,可替换为em rem rpx

$marginSize: 1, 2, 3, 4, 5, 10, 15, 20, 25, 30, 50;

$paddingSize: 1, 2, 3, 4, 5, 10, 15, 20, 25, 30, 50;

$radiusSize: 1, 2, 3, 4, 5, 10, 15, 20, 25, 30, 50;

$fontSize: 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30;

$fontWeight: 100, 200, 300, 400, 500, 600, 700, 800, 900, 1000, thin, lighter, light, normal, medium, bold, bolder;
